/*
	#################### | MOBILE VERSION | #################### 
*/


/* ********** Elements principaux ********** */
*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url("./../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding-top: 2%;
	width: 100%;
	height: 100vh;
	font-family: "Arial";
}


h1
{
	font-size: 1.4em;
	text-align: center;
	padding-top: 8%;
	font-family: "Nexa Rust Slab Shadow 01";
	color: #181818;
}

h2
{
	font-size: 1.1em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
	font-family: "Nexa Rust Sans";
	color: #2E2E2E;
}

/**********************************************************************/
/* ********** Gestion de la page ********** */

/* HEADER */
header
{
	margin: auto;
	width: 96%;
	margin-bottom: 3%;
}

.coordonees
{
	display: flex;
	justify-content: space-between;
}

.coo-ul li
{
	list-style-type: none;
	font-size: 0.8em;
}

#connaissances img
{
	width: 70%;
}
/**********************************************************************/
/* CONNAISSANCES */
#connaissances
{
	width: 96%;
	margin: auto;
	text-align: center;
}

/**********************************************************************/
/* CONTENEUR DE STUDY PUIS ETUDE ET FORMATION*/
#contain-study-connaissance
{
	width: 96%;
	margin: auto;
}

/* ETUDE ET FORMATION */
section
{
	margin: auto;
	width: 100%;
}

.study /* table */
{
	margin: auto;
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
}

.study .default-with /* td Colone de gauche */
{
	width: 23%;
}
td
{
	border-right: 2px solid rgba(0,0,0,0.6);
	padding-left: 4%;
	padding-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
td:last-child
{
	border-right: none;
}
/**********************************************************************/
/* EXPERIENCE */

#experience
{
	margin: auto;
	width: 96%;
}

/**********************************************************************/
/* LOISIR */
#loisir
{
	margin: auto;
	width: 96%;
	font-size: 0.9em;
}

/**********************************************************************/
/* Freelance */
#freelance
{
	margin: auto;
	width: 96%;
	font-size: 0.9em;
	padding-bottom: 8%;
}

/**********************************************************************/
/*
	#################### | TABLETTE VERSION | #################### 
*/

@media (min-width: 768px) and (max-width: 992px)
{
	h1
	{
		font-size: 1.8em;
	}

	h2
	{
		font-size: 1.3em;
	}

	.coordonees
	{
		font-size: 1.3em;
	}

	#connaissances img
	{
		width: 60%;
	}

	.study
	{
		width: 90%;
		font-size: 1.2em;
	}

	#loisir, #freelance
	{
		font-size: 1.1em;	
	}
}

/**********************************************************************/
/*
	#################### | DESKTOP VERSION | #################### 
*/

@media (min-width: 992px)
{
	h1
	{
		font-size: 2em;
	}

	h2
	{
		font-size: 1.4em;
	}

	#contain-study-connaissance
	{
		padding-top: 3%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#contain-study-connaissance h2
	{
		margin: 0;
		padding: 0;
	}

	#connaissances
	{
		margin: 0;
		padding: 0;
		width: 35%;
	}

	#contain-study-connaissance section
	{
		margin: 0;
		padding: 0;
		width: 65%;
	}

	#study, #connaissances img
	{
		margin-top: 30px;
	}

	.coordonees
	{
		font-size: 1.5em;
	}

	.study, #freelance, #loisir
	{
		font-size: 1.2em;
	}
}

